NAV
<div id="menu">
<ul>
  <li class="nivel1"><a href="#" class="nivel1">Opción 1</a>
	<ul>
		<li><a href="#">Opción 1.1</a></li>
	</ul>
  </li>
  <li class="nivel1"><a href="#" class="nivel1">Opción 2</a>
	<ul>
		<li><a href="#">Opción 2.1</a></li>
		<li><a href="#">Opción 2.2</a></li>
		<li><a href="#">Opción 2.3</a></li>
		<li><a href="#">Opción 2.4</a></li>
	</ul>
</li>
  <li class="nivel1"><a href="#" class="nivel1">Opción 3</a>
	<ul>
		<li><a href="#">Opción 3.1</a></li>
		<li><a href="#">Opción 3.2</a></li>
	</ul>
</li>
  <li class="nivel1"><a href="#" class="nivel1">Opción 4</a>
	<ul>
		<li><a href="#">Opción 4.1</a></li>
		<li><a href="#">Opción 4.2</a></li>
		<li><a href="#">Opción 4.3</a></li>
	</ul>
</li>
</ul>
</div>